.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "encabezado"
    "contenido"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 60px auto auto;
}

.encabezado {
    align-items: center;
    display: flex;
    grid-area: encabezado;
    padding: 0 4rem;    
}
.menu__link{
    color: rgba(139, 85, 19, 0.641);
    padding: .5rem  1rem;
}

.menu__link:hover, .menu__link:active{
    border-bottom: 2px solid #0073e6;
}
.contenido {
    grid-area: contenido;
    padding: 0rem 2rem;

}

.footer { 
    background: #fdfdfd;
    color: #333333;
    grid-area: footer;
    padding: 1rem;
    text-align: center;
    
}